<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gainscha.sdk"
    android:versionCode="14050900"
    android:versionName="2.2" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="12" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
    </application>

</manifest>
